<!DOCTYPE html>
<html xmlns:Length="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<form action="/generate" method="post">
    <h2>Password Generator</h2>
    <label for="passwordLength"> Password Length:</label>
    <input id="passwordLength" type="number" name="passwordLength" required>
    <label>Numerical Characters?</label>
        <input type="checkbox" name="numericalCharacters">
    <label>Special Characters?</label>
        <input type="checkbox" name="specialCharacters">
    <label>Uppercase Characters?</label>
        <input type="checkbox" name="upperCaseCharacters">
    <label>Lowercase Characters?</label>
        <input type="checkbox" name="lowerCaseCharacters">
    <button type="submit">Generate Password</button>
</form>
</body>
</html>